apiVersion: v1
kind: Service
metadata:
  name: echo-server
  namespace: envoy-authz-poc
spec:
  selector:
    app: echo-server
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: opa
  namespace: envoy-authz-poc
spec:
  selector:
    app: opa
  ports:
  - name: http
    port: 8181
    targetPort: 8181
  - name: grpc
    port: 9191
    targetPort: 9191
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: envoy
  namespace: envoy-authz-poc
spec:
  selector:
    app: envoy
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  - name: admin
    port: 9901
    targetPort: 9901
  type: LoadBalancer
